<aside class="menu-sidebar d-none d-lg-block">
  <div class="logo">
    <a routerLink="/">
      <img src="assets/images/logo.png" alt="projectuob" class="img-responsive">
    </a>
  </div>
  <div class="menu-sidebar-content js-scrollbar1">
    <nav class="navbar-sidebar">
      <ul class="list-unstyled navbar-list">
        <li >
          <a [routerLink]="[route.snapshot.url]" routerLinkActive="active-link">All</a>
        </li>
        <li *ngFor="let subject of subjects">
          <a [routerLink]="[route.snapshot.url]" [queryParams]="{ 'subject': subject.subjectId}" routerLinkActive="active-link" style="text-transform: capitalize">{{subject.subjectName}}</a>
        </li>
      </ul>
    </nav>
  </div>
</aside>
