<aside class="menu-sidebar d-none d-lg-block">
  <div class="logo">
    <a routerLink="/">
      <img src="assets/images/logo.png" alt="luv2shop" class="img-responsive">
    </a>
  </div>
  <div class="menu-sidebar-content js-scrollbar1">
    <nav class="navbar-sidebar">
      <ul class="list-unstyled navbar-list">
        <li>
          <a [routerLink]="'/course'" routerLinkActive="active-link">Courses</a>
        </li>
        <li>
          <a [routerLink]="'/teacher'"  routerLinkActive="active-link">Teachers</a>
        </li>
      </ul>
    </nav>
  </div>
</aside>
