<div class="main-content">
  <div class="section-content section-content-p30">
    <div class="container-fluid">
      <div class="row">
        <button class="btn btn-primary" (click)="newCourse()">New Course</button>
      </div>
      <hr>
      <div class="row">

        <div class="col-md-3" *ngFor="let course of courses">
          <div class="product-box">
            <a [routerLink]="course.courseId">
              <img src="{{course.imageUrl?course.imageUrl:'assets/images/products/placeholder.png'}}" class="img-responsive">
              <br>
              <h1>{{course.courseName}}</h1>
            </a>
            <h2>{{course.courseDescription}} </h2>
            <div class="price">${{course.perSessionPrice}}</div>
          </div>
        </div>

        <div class="col-md-3" *ngIf="!courses ||courses.length===0">
          <h3>No Courses found</h3>
        </div>
      </div>
    </div>
  </div>
</div>
