<div class="main-content">
  <div class="section-content section-content-p30">
    <div class="container-fluid">
      <div class="row">
        <div class="new-teacher" *ngIf="newTeacher">
          <p style="font-size: 23px; text-align: center">
            <b>Would you like to create a teacher profile?</b>
            <br><br>
            <button class="btn btn-primary" (click)="newTeacherPage()">Create Teacher Profile</button>
          </p>
        </div>
        <div *ngIf="!newTeacher" class="row">
          <div class="col" style="margin-left: 25px">
            <div>
              <img src="{{teacher.imageUrl?teacher.imageUrl:'assets/images/teachers/placeholder.png'}}" class="img-responsive" width="200px">
              <br><br>
              <h3>{{teacher.teacherFirstName+ " "+ teacher.teacherLastName}}</h3>
              <p>{{teacher.slug}}</p>
              <h4>{{teacher.teacherEmail}}</h4>
              <p>
                Date Joined: {{teacher.dateJoined | date:'fullDate'}}
              </p>
            </div>
          </div>
          <hr>
          <div class="col">
            <div class="row">
              <div class="col">
                <a routerLink="course">
                  <div class='select-option'>
                    <i class='ion-ios-paper-outline icon-select'></i>
                    <h4>Manage Courses</h4>
                  </div>
                </a>
              </div>
              <div class="col">
                <a>
                  <div class='select-option'>
                    <i class='ion-ios-paper-outline icon-select'></i>
                    <h4>Manage Time Slots</h4>
                  </div>
                </a>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <a>
                  <div class='select-option'>
                    <i class='ion-ios-paper-outline icon-select'></i>
                    <h4>Manage Profile Information</h4>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
