<header class="header-desktop">
  <div class="section-content section-content-p30">
    <div class="container-fluid">
      <div class="header-wrap">
        <ul class="nav navbar">
          <li>
            <a [routerLink]="'/course'" routerLinkActive="active-link">Courses</a>
          </li>
          <li>
            <a [routerLink]="'/teacher'"  routerLinkActive="active-link">Teachers</a>
          </li>
        </ul>

        <app-search></app-search>

        <app-login-status></app-login-status>

        <app-cart-status></app-cart-status>

      </div>
      <div class="account-wrap"></div>
    </div>
  </div>
</header>
