<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <h3>Contact Details</h3><br>
      <form [formGroup]="teacherForm">
        <div class="form-group">
          <label for="teacherTelephone">Telephone</label>
          <input
            type="text"
            id="teacherTelephone"
            class="form-control"
            formControlName="teacherTelephone">
          <span class="help-block" *ngIf="!teacherForm.get('teacherTelephone').valid && teacherForm.get('teacherTelephone').touched">Please enter a telephone number!</span>
        </div>
        <div class="form-group">
          <label for="teacherAddress">Address</label>
          <input
            type="text"
            id="teacherAddress"
            class="form-control"
            formControlName="teacherAddress">
          <span class="help-block" *ngIf="!teacherForm.get('teacherAddress').valid && teacherForm.get('teacherAddress').touched">Please enter a Address!</span>
        </div>
        <div class="form-group">
          <label for="teacherZoomAddress">Zoom ID</label>
          <input
            type="text"
            id="teacherZoomAddress"
            formControlName="teacherZoomAddress"
            class="form-control">
          <span class="help-block" *ngIf="!teacherForm.get('teacherZoomAddress').valid && teacherForm.get('teacherZoomAddress').touched">Please enter a Valid Zoom ID!</span>
        </div>
        <span class="help-block" *ngIf="!teacherForm.valid && teacherForm.touched">Please ender a valid data!</span>
        <hr>
      </form>

      <h3>Experience</h3><br>

      <div class="chip" *ngFor="let exp of teacherExperienceArray; let i = index">
        <span>{{ exp.title }} | {{exp.institution}}</span>
        <i class="ion-ios-close-empty" (click)="removeExp(i)"></i>
      </div>

      <hr>

      <form [formGroup]="teacherExperienceForm" (ngSubmit)="addTeacherExperience()">
        <div class="form-group">
          <label for="title">Title</label>
          <input
            type="text"
            id="title"
            class="form-control"
            formControlName="title">
          <span class="help-block" *ngIf="!teacherExperienceForm.get('title').valid && teacherExperienceForm.get('title').touched">Please enter a Title!</span>
        </div>
        <div class="form-group">
          <label for="title">Institution</label>
          <input
            type="text"
            id="institution"
            class="form-control"
            formControlName="institution">
          <span class="help-block" *ngIf="!teacherExperienceForm.get('institution').valid && teacherExperienceForm.get('institution').touched">Please enter a Institution!</span>
        </div>
        <div class="form-group">
          <label for="description">Description</label>
          <input
            type="text"
            id="description"
            formControlName="description"
            class="form-control">
<!--          <span class="help-block" *ngIf="!teacherForm.get('description').valid && teacherForm.get('description').touched">Please enter a Valid Zoom ID!</span>-->
        </div>
        <div class="form-group">
          <label for="title">From</label>
          <input
            type="date"
            id="from"
            class="form-control"
            formControlName="from">
          <span class="help-block" *ngIf="!teacherExperienceForm.get('from').valid && teacherExperienceForm.get('from').touched">Please enter from when you started working!</span>
        </div>
        <div class="form-group">
          <label for="to">To</label>
          <input
            type="date"
            id="to"
            class="form-control"
            formControlName="to">
          <span class="help-block" *ngIf="!teacherExperienceForm.get('to').valid && teacherExperienceForm.get('to').touched">Please enter to when you worked!</span>
        </div>
        <div class="form-group">
          <label for="currentlyWorking">Are you currently working here?</label><br>
          Yes<input
            type="radio"
            id="currentlyWorking"
            name="currentlyWorking"
            class="form-control"
            formControlName="currentlyWorking"
          value="currentlyWorking">
          No<input
            type="radio"
            name="currentlyWorking"
            id="currentlyNotWorking"
            class="form-control"
            formControlName="currentlyWorking"
            value="currentlyNotWorking">
        </div>
        <button class="btn btn-primary" [disabled]="!teacherExperienceForm.valid" type="submit">Add</button>
        <span class="help-block" *ngIf="!teacherExperienceForm.valid && teacherExperienceForm.touched">Please enter a valid data!</span>
        <hr>
      </form>

      <h3>Subjects</h3><br>

      <div class="chip" *ngFor="let sub of existingSubjects; let i = index">
        <span>{{ sub.subjectName }}</span>
        <i class="ion-ios-close-empty" (click)="removeSubEx(i)"></i>
      </div>
      <div class="chip" *ngFor="let sub of newSubjects; let i = index">
        <span>{{ sub.subjectName }}</span>
        <i class="ion-ios-close-empty" (click)="removeSubNew(i)"></i>
      </div>


      <form [formGroup]="teacherSubjectForm" (ngSubmit)="addSubject()">
        <div class="form-group">
          <label for="subject">Subject</label>
          <input
            type="text"
            id="subject"
            class="form-control"
            formControlName="subject" list="subjectlist">
          <datalist id="subjectlist">
            <option *ngFor="let subject of subjects" value="{{subject.subjectName}}">
          </datalist>
          <button class="btn btn-primary" [disabled]="!teacherSubjectForm.valid" type="submit">Add</button>
          <span class="help-block" *ngIf="!teacherSubjectForm.get('subject').valid && teacherSubjectForm.get('subject').touched">
            Please enter a Subject!
          </span>
        </div>
        <hr>
      </form>

      <h3>Tags</h3><br>

      <div class="chip" *ngFor="let tag of teacherTagArray; let i = index">
        <span>{{ tag.tag }}</span>
        <i class="ion-ios-close-empty" (click)="removeTag(i)"></i>
      </div>

      <form [formGroup]="teacherTagForm" (ngSubmit)="addTeacherTag()">
        <div class="form-group">
          <label for="tag">Tag</label>
          <input
            type="text"
            list="tagList"
            id="tag"
            class="form-control"
            formControlName="tag">
          <datalist id="tagList">
            <option *ngFor="let tag of teacherTags" value="{{tag.tag}}">
          </datalist>
          <button class="btn btn-primary" [disabled]="!teacherTagForm.valid" type="submit">Add</button>
          <span class="help-block" *ngIf="!teacherTagForm.get('tag').valid && teacherTagForm.get('tag').touched">
            Please enter a Tag!
          </span>
        </div>
        <hr>
      </form>

      <button
        class="btn btn-primary"
        [disabled]="!teacherForm.valid ||
         teacherTagArray.length===0 ||
          (newSubjects.length===0
          && existingSubjects.length===0)"
        type="submit" (click)="onSubmit()">
        Submit
      </button>

    </div>
  </div>
</div>
